/*
Practica de estilos para el formulario
*/
.article-sorteo{
    /*
    el borde es simplemente para delimitar el espacio que ocupa el cajón, 
    lugo habra que eliminarlo
    */
    
    display: flex;
    background-color: rgba(155, 201, 241, 0.42);
}
#definicion{
    width: 80%;
    padding-left: 3%;
    padding-right: 3%;
}
p{
    flex-wrap: wrap;
    align-items: flex-start;
}
.p-titulo{
    font-size: 23px;
    font-weight: bold;
}
form{
    width: 20%;
    padding: 3%;
    display:flex;
    flex-direction: column;
    margin-top: 15px;
}
input{
    width: 100%;
}